<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>INICIO DE SESION</title>
</head>
<body>
    <div>
        <h2> Inicio de sesion </h2>
    </div>
    <form action="../php/usuarios.php" method="post">
        <div>
            <input type="text" name="usuario" id="usuario" required placeholder="Usuario">
        </div>
        <div>
            <input type="password" name="contraseña" id="contraseña" required placeholder="Contraseña">
        </div>
        <div class="botondiv">
            <input type="submit" name="iniciar" value="Ingresar">
        </div>
    </form>
    <div class="redi">
        <p>¿No tienes una cuenta todavia?<br></p><p><a href="./registro.html">Registrece</a> para acceder a todo el contenido que tenemos para ti.</p>
    </div>
</body>
</html>