body {
    background-color: #8EC5FC;
    background-image: linear-gradient(248deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}

.izq {
    width: 70%;
    text-align: center;
    margin: 0px;
    padding: 0.8px;
}

.izq h2 {
    font-size: 2.5em;
    color: rgb(53, 49, 49);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-transform: uppercase;
    text-shadow: 0 0 2px rgb(189, 188, 188);
}

.der {
    width: 20%;
    text-align: center;
    margin: 0px;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.der a {
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(43, 86, 121);
}

.der a:hover {
    color: white;
    text-decoration: underline;
}

.titulos {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 0.9em;
}

form {
    display: flex;
    padding: 0.6em;
    margin-bottom: 0.4em;
    border: 1px solid rgb(114, 112, 112);
    background-color: #3c99f7;
    background-image: linear-gradient(180deg, #c7d6e6 0%, #dec5f7b9 100%);
    align-items: center;
}

.ids {
    display: none;
}

form div {
    border: 1px solid rgb(206, 206, 206);
    margin: 0.3em;
    width: fit-content;
    height: fit-content;
    font-size: 1em;
}

input {
    font-size: 0.8em;
    border: 0px solid black;
    border-radius: 0%;
}

input:hover {
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5%;
}

.botones {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    margin: 0px;
    border: #ffffff00;
}

input[type="submit"] {
    width: 100%;
    margin: 0.2em;
    padding: 0.1em;

    border-radius: 0.5em;
    border: #ffffff00;
    color: white;
    background-color: #4158D0;
    background-image: linear-gradient(90deg, #4158D0 -50%, #C850C0 46%);
    cursor: pointer;
}


